[user]
	name = David Laribee
	email = laribee@gmail.com
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
	tool = p4merge
	keepBackup = false
[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	trustExitCode = false
[mergetool]
  prompt = false
	keepTemporaries = false
  keepBackup = false
[diff]
  tool = p4diff
[difftool "p4diff"]
  cmd = p4merge "$LOCAL" "$BASE"
[difftool]
  prompt = false
[core]
  autocrlf = input
  legacyheaders = false
  editor = vim 
[repack]
	usedeltabaseoffset = true
[alias]
	ci = commit -a --verbose
	co = checkout
	st = status
	ch = cherry -v origin
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	mine = log --author=David
[github]
	user = laribee
	token = 
[diff "ruby"]
	funcname = ^ *\\(\\(class\\|module\\|def\\) .*\\)
[push]
	default = upstream
